<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="Environment" value="DEV" />
		<add key="AppName" value="CartersOSVVendorInboundEDI856MappingProcess.cs" />
		<add key="EnforceCorrelationId" value="True" />
		<add key="LoggingFieldDelimiter" value="|" />
		<add key="LocalLogLocation" value="C:\Users\admin\Desktop\log" />
		<add key="RemoteLogLocation" value="C:\Users\admin\Desktop\log" />
		<add key="DSEVTLogServer" value="" />
		<add key="DSEVTLogServerUid" value="" />
		<add key="DSEVTLogServerPwd" value="" />

		<add key="CRR_856IN_InputFilePath" value="C:\Users\admin\Desktop\CRR\input" />
		<add key="CRR_856IN_WorkingFilePath" value="C:\Users\admin\Desktop\CRR\tmp" />
		<add key="CRR_856IN_OutputFilePath" value="C:\Users\admin\Desktop\CRR\output" />
		<add key="CRR_856IN_ArchiveFilePath" value="C:\Users\admin\Desktop\CRR\Archive\856IN" />
		<add key="CRR_856IN_FailFilePath" value="C:\Users\admin\Desktop\CRR\xfailed" />
	</appSettings>

</configuration>